<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	this is login
	<form action="http://localhost:3000/dopost" method="post">
		<p><label for="">账号：</label><input type="text" name="username" placeholder="请输入您的账号" required></p>
		<p><label for="">密码：</label><input type="password" name="password" placeholder="请输入您的密码" required></p>
		<p><input type="submit" value="登录"></p>
	</form>
</body>
</html>