<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
	login.页面
	<form action="http://localhost:3000/loginss" method="post">
		<p><label for="">账号</label><input type="text" name="usename"></p>
		<p><label for="">密码</label><input type="password" name="password"></p>
		<p><label for=""></label><input type="submit" value="sub"></p>
	</form>
</body>
</html>

