<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/dopost" method="post">
		<p><label for="">账户</label><input type="text" name="xm"></p>
		<p><label for="">密码</label><input type="text" name="nl"></p>
		<p><input type="submit" value="sub"></p>	
	</form>
</body>
</html>